.cont {
  height: auto;
  width: 95%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.link {
  color: #2c3e50;
}

.link:hover {
  color: #27588a;
}
