.container {
  width: 90%;
  max-width: 1500px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .container {
    height: 3500px;
    margin-bottom: 0;
  }
}
