div{
    background-color: red;
    border: 5px solid green;
    width: 200px;
    transition: 2s;
    
}

div:hover{
    transform: scale(1,2);
    transform: skewX(25deg);
    transform: skewY(-25deg);
    transform: rotateY(180deg);
}

