body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


h1{
    text-align: center;
}

#top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#parent{
    width: 100%;
    height: auto;
}

#heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 180px;
    width: 100%;
    background-color: rgb(27, 52, 122);
}

input{
    display: none;
    width: 80%;
    height: 35px;
    animation-name: inp;
    animation-duration: 1s;
    border: 3px solid rgb(49, 46, 46);
}

@keyframes inp{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

#btn{
    display: none;
    width: 130px;
    margin: 15px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(59, 85, 109);
    color: white;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.108);
    /* transition: box-shadow 0.3s ease-in-out; */
    animation-name: bt;
    animation-duration: 1s;
}

@keyframes bt{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}


#btn:hover{
    background-color: rgb(93, 121, 148);
    /* padding: 11px; */
    font-size: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.674);
}

.im{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 14px;
    top: 20px;cursor: pointer;
}

img{
    padding-right: 10px;
    height: 16px;
    width: 15px;
}

#add{
    background-color: rgba(0, 0, 0, 0.11);
    margin-top: 20px;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
}

#add:hover{
    background-color: rgba(0, 0, 0, 0.312);
}

.divp{
    border-top: 1px solid black;
    position: relative;
    background-color: rgb(54, 124, 204);
    cursor: pointer;
}

.divp:hover{
    background-color:rgb(77, 149, 231);
}

.pp{
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    color: white;

}