h1{
    font-size: 40px;
}
.d1{
    background-color: aqua;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left:120px;
    margin-right:120px;
    text-align: center;
    

}

#d2{
    background-color: rgb(255, 0, 51);
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
video{
    height: 600px;
    width: 900px;
    margin-bottom: 10px;
}

header{
    background-color: rgb(0, 204, 255);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(34, 255, 0);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav ul{
    list-style:none;
}
nav ul li{
    display: inline-block;
}
nav a{
    color:blueviolet;
    padding-left: 15px;
}
section{
    display: flex;
}
div{
    background:rgb(226, 43, 43) ;
    padding: 25px 30px;
    flex-basis: 60%;
}
aside{
    
    flex-basis: 38%;
}
footer{
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    color: aliceblue;
    background:rgb(40, 4, 87) ;
    text-align: center;
    margin-left: 40%;
}
hr{
    color: blueviolet;
    background: rgb(208, 255, 0);
}
mark{
    background-color: greenyellow;
    color: red;
}
