* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(100deg, #5473ff, #0077b6, #029ebd);
}

.headings {
  display: flex;
  height: 40px;
  /* background-color: aqua; */
  justify-content: center;
  margin-top: 17px;
}

.contents {
  /* border-right: 7px; */

  border-right: 2px solid black;
  padding: 3px 12px;
  font-size: 21px;
}

.contents a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: transform 0.5s;
  font-weight: 1500px;
}

.contents a:hover {
  transform: translateY(-3px);
}

.login {
  display: flex;
  height: 800px;
  width: 90%;
  max-width: 1200px;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.508);
  transition: box-shadow 0.3s ease-in-out;
}

.login:hover {
  /* font-size: 18px; */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.874);
}

.left {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  height: 100%;
  background-color: rgb(39, 36, 36);
}

.error {
  color: red;
  font-size: 17px;
  margin-left: 28px;
}
