<% if(loggedInUser && loggedInUser.username){ %>
<div class="headings">
  <div style="cursor: pointer" class="contents" onclick="logout()">
    <a>Logout</a>
  </div>
  <div class="contents"><a href="/inbox">Inbox</a></div>
  <div class="contents" style="border: 0px">
    <a href="/users">Users</a>
  </div>
</div>
<% }else{ %>
<div class="headings">
  <div class="contents"><a href="/login">Login</a></div>
  <div class="contents"><a href="/inbox">Inbox</a></div>
  <div class="contents" style="border: 0px">
    <a href="/users">Users</a>
  </div>
</div>

<% }; %>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  logout = async () => {
    try {
      await fetch("/login", {
        method: "DELETE",
      });
      Toastify({
        text: "log-out processing",
        duration: 1000,
        gravity: "top",
        position: "right",
        style: {
          background: "linear-gradient(90deg, #6a11cb 0%, #2575fc 100%)",
        },
      }).showToast();

     setTimeout(() => {
        window.location.replace("/login");
      }, 3000);
      
      setTimeout(() => {
        Toastify({
          text: "log-out successfully",
          duration: 1000,
          gravity: "top",
          position: "right",
          style: {
            background: "linear-gradient(90deg, #6a11cb 0%, #2575fc 100%)",
          },
        }).showToast();
      }, 2000);

 
    } catch (error) {
      console.log(error);
    }
  };
</script>
